/* Add a black background color to the top navigation */
.topnav {
    background-color: darkred;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2c2d30;
  }
  
  body, html {
      height: 100%;
      background-color: #313336;
  }

  .welcome{
    height: 500px;
  
    /* Position and center the image to scale nicely on all screens */
    background-color: #313336;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
  }

    /* Place text in the middle of the image */
  .hero-text {
    font-family: "Verdana";
    font-size: x-large;
    text-align: center;
    color: #f0f0f0;
    padding: 150px;
  }
  
  .hero-text h2{
    color:#bf4351;
    font-style:italic;
  }

  .projects{
    /* Set a specific height */
    height: 100%;
    
    /* Position and center the image to scale nicely on all screens */
    background-color: #be3144;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-size: larger;
  }

  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 65px;
    
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 30px;
  }
  
  /* Content */
  .content {
    background-color:#313336 ;
    padding: 10px;
    width:100%;
    color: white;
  }

  a{
    font-style: normal;
    text-decoration: none;
  }
  
  .content a:visited{
    color: white;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  i{
    padding: 5px 5px 5px 5px;
    font-size: 3rem;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    text-decoration:none;
    color:linen;
  }

  img{
    object-fit: cover;
    width: 300px;
    height: 250px;
    border: 15px solid #555;
  }

  .projects h1{
    text-align: center;
    color: white;
  }

  footer{
    
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-color: #313336;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  footer .hero-text{
    font-family: "Verdana";
    font-size: x-large;
    text-align: center;
    color: #f0f0f0;
    padding: 20px;
  }

